// Custom BS4 Colors
$z_blush: rgb(244, 217, 223);
$z_pink: rgb(240, 197, 214);
$z_red: rgb(209, 83, 79);
$z_currant: rgb(145, 55, 55);
$z_sand: rgb(247, 227, 222);
$z_peach: rgb(248, 196, 161);
$z_orange: rgb(240, 130, 100);
$z_umber: rgb(128, 102, 72);
$z_bone: rgb(232, 229, 218);
$z_butter: rgb(255, 243, 200);
$z_yellow: rgb(254, 224, 161);
$z_sage: rgb(164, 181, 147);
$z_seed: rgb(222, 230, 195);
$z_citrus: rgb(197, 219, 145);
$z_leaf: rgb(108, 183, 126);
$z_frond: rgb(63, 76, 59);
$z_sea-glass: rgb(173, 209, 195);
$z_enamel: rgb(118, 166, 147);
$z_turq: rgb(55, 122, 113);
$z_forest: rgb(41, 71, 67);
$z_ice: rgb(209, 239, 240);
$z_sky: rgb(164, 220, 222);
$z_sea: rgb(81, 156, 144);
$z_steel-blue: rgb(35, 49, 61);
$z_cloud: rgb(218, 238, 250);
$z_chambray: rgb(134, 193, 224);
$z_blue-sea: rgb(65, 129, 161);
$z_peacock: rgb(24, 41, 45);
$z_frost: rgb(212, 212, 228);
$z_periwinkle: rgb(124, 131, 168);
$z_blue: rgb(31, 39, 77);
$z_navy: rgb(16, 19, 31);
$z_petal: rgb(240, 231, 239);
$z_spring: rgb(175, 139, 183);
$z_violet: rgb(85, 68, 117);
$z_ore: rgb(100, 91, 117);
$z_cocoa: rgb(214, 198, 182);
$z_chipmunk: rgb(178, 158, 138);
$z_brown: rgb(132, 115, 100);
$z_deep-sepia: rgb(70, 69, 67);
$z_metal: rgb(208, 210, 217);
$z_aluminium: rgb(159, 161, 168);
$z_charcoal: rgb(98, 99, 107);
$z_black: rgb(26, 26, 26);

$colors: ();
$colors: map-merge(
	(
		"z_blush": $z_blush,
		"z_pink": $z_pink,
		"z_red": $z_red,
		"z_currant": $z_currant,
		"z_sand": $z_sand,
		"z_peach": $z_peach,
		"z_orange": $z_orange,
		"z_umber": $z_umber,
		"z_bone": $z_bone,
		"z_butter": $z_butter,
		"z_yellow": $z_yellow,
		"z_sage": $z_sage,
		"z_seed": $z_seed,
		"z_citrus": $z_citrus,
		"z_leaf": $z_leaf,
		"z_frond": $z_frond,
		"z_sea-glass": $z_sea-glass,
		"z_enamel": $z_enamel,
		"z_turq": $z_turq,
		"z_forest": $z_forest,
		"z_ice": $z_ice,
		"z_sky": $z_sky,
		"z_sea": $z_sea,
		"z_steel-blue": $z_steel-blue,
		"z_cloud": $z_cloud,
		"z_chambray": $z_chambray,
		"z_blue-sea": $z_blue-sea,
		"z_peacock": $z_peacock,
		"z_frost": $z_frost,
		"z_periwinkle": $z_periwinkle,
		"z_blue": $z_blue,
		"z_navy": $z_navy,
		"z_petal": $z_petal,
		"z_spring": $z_spring,
		"z_violet": $z_violet,
		"z_ore": $z_ore,
		"z_cocoa": $z_cocoa,
		"z_chipmunk": $z_chipmunk,
		"z_brown": $z_brown,
		"z_deep-sepia": $z_deep-sepia,
		"z_metal": $z_metal,
		"z_aluminium": $z_aluminium,
		"z_charcoal": $z_charcoal,
		"z_black": $z_black
	),
	$colors
);

$umbra: 0.2;
$penumbra: 0.14;
$ambient: 0.12;

$shadow-1dp: 0px 1px 3px 0px rgba(0, 0, 0, $umbra), 0px 1px 1px 0px rgba(0, 0, 0, $penumbra), 0px 2px 1px -1px rgba(0, 0, 0, $ambient);
$shadow-2dp: 0px 1px 5px 0px rgba(0, 0, 0, $umbra), 0px 2px 2px 0px rgba(0, 0, 0, $penumbra), 0px 3px 1px -2px rgba(0, 0, 0, $ambient);
$shadow-3dp: 0px 1px 8px 0px rgba(0, 0, 0, $umbra), 0px 3px 4px 0px rgba(0, 0, 0, $penumbra), 0px 3px 3px -2px rgba(0, 0, 0, $ambient);
$shadow-4dp: 0px 2px 4px -1px rgba(0, 0, 0, $umbra), 0px 4px 5px 0px rgba(0, 0, 0, $penumbra), 0px 1px 10px 0px rgba(0, 0, 0, $ambient);
$shadow-5dp: 0px 3px 5px -1px rgba(0, 0, 0, $umbra), 0px 5px 8px 0px rgba(0, 0, 0, $penumbra), 0px 1px 14px 0px rgba(0, 0, 0, $ambient);
$shadow-6dp: 0px 3px 5px -1px rgba(0, 0, 0, $umbra), 0px 6px 10px 0px rgba(0, 0, 0, $penumbra), 0px 1px 18px 0px rgba(0, 0, 0, $ambient);
$shadow-7dp: 0px 4px 5px -2px rgba(0, 0, 0, $umbra), 0px 7px 10px 1px rgba(0, 0, 0, $penumbra), 0px 2px 16px 1px rgba(0, 0, 0, $ambient);
$shadow-8dp: 0px 5px 5px -3px rgba(0, 0, 0, $umbra), 0px 8px 10px 1px rgba(0, 0, 0, $penumbra), 0px 3px 14px 2px rgba(0, 0, 0, $ambient);
$shadow-9dp: 0px 5px 6px -3px rgba(0, 0, 0, $umbra), 0px 9px 12px 1px rgba(0, 0, 0, $penumbra), 0px 3px 16px 2px rgba(0, 0, 0, $ambient);
$shadow-10dp: 0px 6px 6px -3px rgba(0, 0, 0, $umbra), 0px 10px 14px 1px rgba(0, 0, 0, $penumbra), 0px 4px 18px 3px rgba(0, 0, 0, $ambient);
$shadow-11dp: 0px 6px 7px -4px rgba(0, 0, 0, $umbra), 0px 11px 15px 1px rgba(0, 0, 0, $penumbra), 0px 4px 20px 3px rgba(0, 0, 0, $ambient);
$shadow-12dp: 0px 7px 8px -4px rgba(0, 0, 0, $umbra), 0px 12px 17px 2px rgba(0, 0, 0, $penumbra), 0px 5px 22px 4px rgba(0, 0, 0, $ambient);
$shadow-13dp: 0px 7px 8px -4px rgba(0, 0, 0, $umbra), 0px 13px 19px 2px rgba(0, 0, 0, $penumbra), 0px 5px 24px 4px rgba(0, 0, 0, $ambient);
$shadow-14dp: 0px 7px 9px -4px rgba(0, 0, 0, $umbra), 0px 14px 21px 2px rgba(0, 0, 0, $penumbra), 0px 5px 26px 4px rgba(0, 0, 0, $ambient);
$shadow-15dp: 0px 8px 9px -5px rgba(0, 0, 0, $umbra), 0px 15px 22px 2px rgba(0, 0, 0, $penumbra), 0px 6px 28px 5px rgba(0, 0, 0, $ambient);
$shadow-16dp: 0px 8px 10px -5px rgba(0, 0, 0, $umbra), 0px 16px 24px 2px rgba(0, 0, 0, $penumbra), 0px 6px 30px 5px rgba(0, 0, 0, $ambient);
$shadow-17dp: 0px 8px 11px -5px rgba(0, 0, 0, $umbra), 0px 17px 26px 2px rgba(0, 0, 0, $penumbra), 0px 6px 32px 5px rgba(0, 0, 0, $ambient);
$shadow-18dp: 0px 9px 11px -5px rgba(0, 0, 0, $umbra), 0px 18px 28px 2px rgba(0, 0, 0, $penumbra), 0px 7px 34px 6px rgba(0, 0, 0, $ambient);
$shadow-19dp: 0px 9px 12px -6px rgba(0, 0, 0, $umbra), 0px 19px 29px 2px rgba(0, 0, 0, $penumbra), 0px 7px 36px 6px rgba(0, 0, 0, $ambient);
$shadow-20dp: 0px 10px 13px -6px rgba(0, 0, 0, $umbra), 0px 20px 31px 3px rgba(0, 0, 0, $penumbra), 0px 8px 38px 7px rgba(0, 0, 0, $ambient);
$shadow-21dp: 0px 10px 13px -6px rgba(0, 0, 0, $umbra), 0px 21px 33px 3px rgba(0, 0, 0, $penumbra), 0px 8px 40px 7px rgba(0, 0, 0, $ambient);
$shadow-22dp: 0px 10px 14px -6px rgba(0, 0, 0, $umbra), 0px 22px 35px 3px rgba(0, 0, 0, $penumbra), 0px 8px 42px 7px rgba(0, 0, 0, $ambient);
$shadow-23dp: 0px 11px 14px -7px rgba(0, 0, 0, $umbra), 0px 23px 36px 3px rgba(0, 0, 0, $penumbra), 0px 9px 44px 8px rgba(0, 0, 0, $ambient);
$shadow-24dp: 0px 11px 15px -7px rgba(0, 0, 0, $umbra), 0px 24px 38px 3px rgba(0, 0, 0, $penumbra), 0px 9px 46px 8px rgba(0, 0, 0, $ambient);

$def-trans: all .2s ease;

$primary:       #2980b9;
$secondary:     #7f8c8d;

$yiq-text-dark:             rgba(0,0,0,0.87);
$yiq-text-light:            rgba(255,255,255,0.87);

$body-bg:                   #eaeaea;
$body-color:                $yiq-text-dark;

$link-color:                $primary;
$link-decoration:           none;
$link-hover-color:          #2946b9;
$link-hover-decoration:     none;

$paragraph-margin-bottom:   0.875rem;

$font-family-sans-serif:      -apple-system, Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$table-cell-padding:          .625rem;
$table-cell-padding-sm:       .3rem;

$table-active-bg:             rgba(#000000, 0.85);
$table-dark-color:            #ffffff;
