.form-material {
	.form-group {
		overflow: hidden;
	}
	.form-control {
		background-color: rgba(0, 0, 0, 0);
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    padding: 0;
    transition: background 0s ease-out 0s;
		&, &.focus, &:focus {
	    background-image: linear-gradient($primary, $primary), linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13));
	    border: 0 none;
	    border-radius: 0;
	    box-shadow: none;
	    float: none;
		}
		&.focus, &:focus {
			background-size: 100% 2px, 100% 1px;
	    outline: 0 none;
	    transition-duration: 0.3s;
		}
		&::placeholder {
			color: rgba(255,255,255,0.3);
			opacity: 1;
		}
	}
}
.card {
	box-shadow: $shadow-2dp;
	border-radius: 4px;
}
.login-register {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%;
	width: 100%;
	padding: 10% 0;
	position: fixed;
}
.login-sidebar {
	padding: 0;
	margin: 0;
	.login-box {
		right: 0;
		position: absolute;
		height: 100%;
		width: 400px;
		margin: 0 auto;
		background: $dark;
		transition: all .3s cubic-bezier(0,0,.2,1);
		.form-control {
			color: #ecf0f1;
		}
	}
}

@media (max-width: 767px) {
	.login-sidebar {
		padding: 10% 0;
		.login-box {
			position: relative;
			box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
			width: 90%;
		}
	}
	.login-register {
		position: relative;
		overflow: hidden;
	}
}
