$enable-flex: true;
$enable-caret:              true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true !default;
$enable-hover-media-query:  true;
$enable-grid-classes:       true;
$enable-print-styles:       false;

@import "config/variables";

@import "bs4/bootstrap";
@import "bs4/custom/form-material";

@import "app/base-core";


@for $i from 0 through 10 {
  $n: $i * 5;
  .rykn0wxx .mt-#{$n} {
    margin-top: $i * 5px;
  }
}
